/* Background */
body {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.options {
    height: 160px;
    width: 40em;
    margin-top: 78px;
    background-color: #87459E;
    border-radius: 25px;

}

.options h2 {
    color: white;
    padding-top: 11px;
    text-align: center;
}

button {
    width: 130px;
    border: 1px solid white;
    color: white;
    background-color: #87459E;
    border-radius: 20px;
    font-size: larger;
    margin-left: 24px;
}

.rec-btn {
    width: 180px;
}

button:hover {
    background-color: #532D60;
    color: white;
    border-color: #ffff00;
}

h2 {
    color: white;
    text-align: center;
}

.main-button {
    width: 150px !important;
    height: 40px !important;
    border-radius: 15px !important;
    background-color: #532D60 !important;
    border: #532D60 solid !important;
    color: white !important;
}

.main-button:hover {
    background-color: #532D60;
    color: white;
    border-color: #ffff00 !important;
}