body {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-weight: 800;
    font-size: xx-large;
    color: white;
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
}

.form {
    width: 350px;
    height: 60px;
    margin-left: 150px;
    margin-top: 45px;
    border: #87459E solid;
    border-radius: 15px;
    background-color: #87459E;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.room_form {
    margin-left: unset;
}

button {
    width: 100px;
    height: 40px;
    border-radius: 15px;
    background-color: #532D60;
    border: #532D60 solid;
    color: white;
}

button:hover {
    border-color: #ffff00;
}

.gender {
    width: 89px;
    height: 100px;
}

.gender table {
    width: 100%;

}

.radio {
    color: #532D60;
}