/* Custom Font */
@font-face {
    font-family: Copenhagen-bold;
    src: url('/Frontend/Fonts/David\ Engelby\ Foundry\ -\ Copenhagen\ Grotesk\ Nova\ Bold.otf');
}

@font-face {
    font-family: Copenhagen;
    src: url('/Frontend/Fonts/David\ Engelby\ Foundry\ -\ Copenhagen\ Grotesk\ Nova\ Regular.otf');
}

@font-face {
    font-family: Copenhagen-light;
    src: url('/Frontend/Fonts/David\ Engelby\ Foundry\ -\ CopenhagenGroteskNova-Light.otf');
}

/* Background */
body {
    background-image: url('/Frontend/images/BG.jpg');
    font-family: Copenhagen-bold;
}

/* Navbar */
.navbar {
    border-radius: 20px;
    margin: 30px 80px;
    background-color: #D9D9D9 !important;
}

.nav-item {
    margin: 0px 120px;
}

.nav-link {
    font-size: 25px;
}